body {
  background-color: #fffcf5;
}
h1 {
  color: #204060;
  font-family: Arial;
}
h2 {
  color: #204060;
  font-family: Arial;
}
p {
  color: #000000;
  font-family: sans-serif;
}
h3{
	font-family: Arial;	
}
ul li {

   font-family: sans-serif;
}